<html>
  <head>
    <link rel="stylesheet" href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/login.css'>
    <link rel='stylesheet' href='../css/events.css'>
    <title>All Pickups in your Area</title>
  </head>
  <body>
    <center>
      <div class='header'><h1>PickApp<small>Join the Fun</small>
      </div>
      <div class="text-center">
        <div class='container'>
            {% if events is not empty %}
                <h4>Upcoming Events:</h4>
                    {% for event in events %}
                    <ul>
                        {% if date(event.getEventTime) > date("now") %}
                            <div class="game">
                                <p><strong>{{ event.getName }}</strong> -- {{ event.getLocation }} -- <strong>{{ event.getEventTime|date('m-d-Y') }}  </strong></p><p>Start Time  :<strong> <span class="time">{{ event.getEventTime|date('h:i a') }} </span></strong><br><form action="/events/{{ event.getId }}"><button type="submit" class="btn btn-primary btn-xs">More Info</button></form></p>
                            </div>
                       {% endif %}
                   </ul>
               {% endfor %}
            {% endif %}

    </div>

    <form action='/'>
    <button type='submit' class='btn btn-primary'>Home</button>
    </form>
  </center>
  <center>
</center>
    <div class='footer'></div>
  </body>
</html>
